
.signInForm{
  border: 1px solid black;
  background: #EBEBEB;
  color: #2B3E50;
  padding: 15px;
  margin-bottom: 20px;
}
.signInRow {
  padding-top: 50px;
  padding-bottom: 50px;
}
.light-row {
  background: #EBEBEB;
  color: #2B3E50;
  vertical-align: middle;
}
.quiz-row, .create-quiz{
  padding-top: 100px;
  padding-bottom: 100px;
  border: #2B3E50 solid 30px;
}

.infoItem {
  padding-top: 50px;
  padding-bottom: 50px;
}

.infoItem h4 {
  line-height: 150%;
}
.infoItem img {
  height: 150px;
  margin-bottom: 15px;
}

.footer{
  background: #151515;
  color: #aaa;
  padding-top: 10px;
  font-size: 12px;
}

.quizCard {
  margin: 25px;
  padding: 25px;
}
.quizCard img {
  width:40%;
}

.quizCardContainer{
  padding-top: 50px;
  padding-bottom: 50px;
}

.mathItem .MathJax{
  font-size: 4rem !important;
}
.MJXc-display{
  margin:0 !important;
  z-index: -1 !important;
}
.questionHolder{
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
}
.questionHolder hr {
  border-color: #EBEBEB;
}

#quizAnswer{
  /*margin-top: -4em;*/
  z-index: 1;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}